:root {
    --content-block-max-width: 750px;
    --content-block-padding: 25px;

    --tool-tip-width: 150px;
    --tool-tip-height: 40px;

    --content-text-font-size: 19px;
    --content-text-line-height: 28px;
    --content-text-color: #464646;

    --theme-color: #674172;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 50px 0 100px;
}

.content {
    max-width: var(--content-block-max-width);
    padding: var(--content-block-padding);
}

/* * * ToolTip * * */
.tool-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: var(--tool-tip-width);
  height: var(--tool-tip-height);
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  background-color: var(--theme-color);
}

.tool-tip::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 3px;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    background-color: var(--theme-color);
}


/* * * Loader * * */
.tool-tip-loader {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 15px;
}

.tool-tip-loader.spinner-visible {
    visibility: visible;
    opacity: 1;
}

.loader-dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #fff;
    animation: flashing 1s infinite;
}

.loader-dot.loader-dot-1 {
    animation-delay: 0.2s;
}

.loader-dot.loader-dot-2 {
    animation-delay: 0.4s;
}

@keyframes flashing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* * * Typography * * */
.content-text {
    font-family: 'Cardo', serif;
    font-size: var(--content-text-font-size);
    line-height: var(--content-text-line-height);
    color: var(--content-text-color);
}

p + p {
    padding-top: 20px;
}

.par-first-letter {
    /*padding-left: 25px;*/
}

p.int::first-letter {
    font-size: 42px;
    color: var(--theme-color);
}

p::selection {
    /*background-color: #674172;*/
    /*color: #fff;*/
}
